*{
    margin: 0;padding:0;
}
.header{
    padding: 0px;
    margin-top: 5px; 
}
.my_img_logo{
    width: 4rem;
    margin-left: 10px;
    margin-right: 30px;
}
#body_img{
    background: url("../images/bg_image.jpg") fixed;
    background-size:cover;
}

.dh_bg{
background:#f1f2f3;
height:65px;
}
.my_left{
    margin-left: 200px;
}
#content ul li>a{
    font-size: 12px;
}
#content ul li>a:hover{
    border-bottom: 2px solid red;
    font-size: 13px;
}
.dh_bg button span{width:1px;height:10px;color:#9fcdff}
.active{color: red}
